@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

body{
	font-family: sans-serif;
	background-color: #575454;
	color: #fff;
}
.heading{
	text-align: center;
	font-size: 45px;
	border-bottom: 2px dotted #fff;
}
